@-webkit-keyframes act_bilibili_loading {	
	0%{background-position: 0;}
	6.25%{background-position: -80px 0;}
	12.5%{background-position: -160px 0;}
	18.75%{background-position: -240px 0;}
	25%{background-position: -320px 0;}
	31.25%{background-position: -400px 0;}
	37.5%{background-position: -480px 0;}
	43.75%{background-position: -560px 0;}
	50%{background-position: -640px 0;}
	56.25%{background-position: -720px 0;}
	62.5%{background-position: -800px 0;}
	68.75%{background-position: -880px 0;}
	75%{background-position: -960px 0;}
	81.25%{background-position: -1040px 0;}
	87.5%{background-position: -1120px 0;}
	93.75%{background-position: -1200px 0;}
	100%{background-position: -1280px 0;}
}



















